{% extends 'Base.html' %}



{% block content %}
    <div>
        <p>{{ user.id }}</p>
        <p>{{ user_obj.id }}</p>
        <p>{{ user_obj.username }}</p>
        <p>{{ user_obj.telephone }}</p>
        <p>{{ user_obj.slug }}</p>
        <p>{{ user_obj.telephone }}</p>
        <p>{{ user_obj.change_date }}</p>
        <p>{{ user_obj.address }}</p>
        <p>{{ user_obj.industry }}</p>
        <p>{{ user_obj.position }}</p>
        <p>{{ user_obj.Introduction }}</p>
        <p>{{ user_obj.user_img }}</p>
    </div>
{% endblock %}